.modal-view-breed {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: ;
    --bs-modal-bg: #fff;
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: 1px;
    --bs-modal-border-radius: 0.5rem;
    --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-modal-inner-border-radius: calc(0.5rem - 1px);
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: 1px;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: 1px;

    &.show {
        .overlay {
            display: block;
        }
    }

    .overlay {
        background-color: rgba(0, 0, 0, .60);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1055;
        display: none;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;

        .modal-container {
            max-width: 500px;
            margin-right: auto;
            margin-left: auto;

            .modal-content {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;
                color: var(--bs-modal-color);
                pointer-events: auto;
                background-color: var(--bs-modal-bg);
                background-clip: padding-box;
                border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
                border-radius: var(--bs-modal-border-radius);
                outline: 0;

                .modal-header {
                    display: flex;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: space-between;
                    padding: var(--bs-modal-header-padding);
                    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
                    border-top-left-radius: var(--bs-modal-inner-border-radius);
                    border-top-right-radius: var(--bs-modal-inner-border-radius);
                }

                .modal-body {
                    position: relative;
                    flex: 1 1 auto;
                    padding: var(--bs-modal-padding);

                    .info {
                        margin-bottom: 8px;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                        
                        p {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }

                .modal-footer {
                    display: flex;
                    flex-shrink: 0;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-end;
                    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap)* .5);
                    background-color: var(--bs-modal-footer-bg);
                    border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
                    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
                    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
                }
            }
        }
    }
}